.navbar>* {
    text-align: center;
}

.nav-title {
    flex: 2 1 0;
}

.link-item {
    color: inherit;
    text-decoration: none;
    transition: border-bottom 300ms 100ms ease-in;
}

.link-item:hover,
.link-item:focus-visible,
.link-item.active {
    border-bottom: solid 1px;
}