.navbar {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}
.link-item {
    color: white;
    text-decoration: none;
    padding-inline: 0.5rem;
    transition: color 300ms ease;
}

.link-item:hover,
.link-item:focus-visible,
.link-item.active {
    color: tomato;
    text-decoration: underline;
}