#project-image {
  /* opacity: 0.8; */
  z-index: -1;
  width: 100svw;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.paragraph::first-letter {
  text-transform: capitalize;
  padding-left: 4ch;
}